.login {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    margin-bottom: 10px;
  }
  .error {
    color: red;
    margin-bottom: 12px;
  }
}